.dish{
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.dish > img{
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.details{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #EDEFEE;
    padding: 0 20px;
    min-height: 250px;
}

.titlePrice{
    display: flex;
    justify-content: space-between;
}

.titlePrice h3:nth-child(even){
    color: #EE9972;
}

.dish p{
    max-width: 210px;
    font-weight: 300;
}

.delivery{
    font-family: 'Karla';
    margin-top: auto;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 15px;
}