:root{
    --top-navbar-height: 100px;
    --top-navbar-margin-side: 25%;
}

header {
  display: flex;
  position: fixed;
  z-index: 5;
  height: var(--top-navbar-height);
  align-items: center;
  justify-content: space-between;
  margin: 0 var(--top-navbar-margin-side);
  width: calc(100% - var(--top-navbar-margin-side)*2);
}

main {
  padding-top: var(--top-navbar-height);
  position: relative;
  min-height: calc(100vh - var(--top-navbar-height)*2.07);
}

footer {
  display: flex;
  padding: 3px;
  height: 100px;
  padding: 0 var(--top-navbar-margin-side);
  justify-content: space-between;
  border-top: 1px solid black;
}

footer a{
  color: inherit;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul a{
  text-decoration: none;
  color: inherit;
}

